<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      google-map {
   height: 300px;
   width :35%;
  }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuario</h2>
    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-6">Soy Bootstrap</h3>
    </div>
    <input type="email" placeHolder="Email" value="{{email::input}}"/>
    <input type="password" placeHolder="password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="login">Login</button>
    <button class="btn btn-warning">Logout</button>
    <span hidden$="{{!logged}}">Bienvenido a casa Johnny</span>

    <google-map latitude=40.4 longitude=-3.7 zoom=11 fit-to-markers api-key="AIzaSyCXzovHqvsiaPlzS1E8meCWfU3SdoMv4Zw">
    <google-map-marker latitude=40.421432 longitude=-3.7536663 title="Casa de Campo de Madrid"></google-map-marker>
  </google-map>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id :{
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          },
            password: {
            type: String
          },
            logged: {
            type: Boolean,
            value: false
          }
        };
      }


      login(){
        console.log("Boton login pulsado");
        var loginData = {
          "email": this.email,
          "password": this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged= true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        swal({
  type: 'error',
  title: 'Oops...',
  text: 'Something went wrong!',
})
      }
    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
