<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Datos de movimientos:</h1>
    <template is="dom-repeat" items="{{movimientos}}">
      <h3>Cuenta : {{item.idcuenta}}</h3>
      <h3>Movimiento : {{item.idmov}}</h3>
      <h3>Fecha : {{item.fechamov}}</h3>
      <h3>Importe : {{item.importemov}}</h3>
      <h3>Tipo : {{item.tipomov}}</h3>
    </br>
   </template>
    <iron-ajax
      auto=""
      id="getMovimiento"
      url="http://localhost:3000/apitechu/v2/cuentas/{{id}}/movimientos"
      handle-as="json"
      on-response="showData"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
          idcuenta :{
            type: Number
          },
          id: {
            type: Number
          },
          idmov :{
            type: Number
          },
          fechamov :{
            type: Date
          },
          importemov :{
            type: Number
          },
          tipomov :{
            type: String
          },
          movimientos :{
            type: Array
          }
        };
      }
      showData(data) {
        console.log(data.detail.response[0]);
        this.movimientos = data.detail.response;

        //this.iban = data.detail.response[0].iban
        //this.balance = data.detail.response[0].balance

      }
    }


    window.customElements.define(VisorMovimiento.is, VisorMovimiento);
  </script>
</dom-module>
