<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de transferencia</h2>
    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-6">Soy Bootstrap</h3>
    </div>
    <input type="idcuenta" placeHolder="idcuenta" value="{{idcuenta::input}}"/>
    <input type="idbenef" placeHolder="idbenef" value="{{idbenef::input}}"/>
    <input type="importemov" placeHolder="importe" value="{{importemov::input}}"/>
    <button class="btn btn-success" on-click="procesar">Procesar</button>
    <!--<button class="btn btn-warning">Logout</button>-->

    <span hidden$="{{!logged}}">Transferencia realizada</span>
    <iron-ajax
      id="doTrf"
      method="POST"
      url="http://localhost:3000/apitechu/v2/transferencia"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaTransferencia extends Polymer.Element {
      static get is() { return 'alta-transferencia'; }
      static get properties() {
        return {
          idcuenta :{
            type: Number
          },
          idbenef: {
            type: Number
          }, importemov: {
            type: Number
          },
            logged: {
            type: Boolean,
            value: false
          }
        };
      }


      procesar(){
        console.log("Boton procesar pulsado");
        var trfData = {
          "idcuenta": this.idcuenta,
          "idbenef": this.idbenef,
          "importemov": this.importemov
        };

        this.$.doTrf.body = trfData;
        this.$.doTrf.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged= true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }


    window.customElements.define(AltaTransferencia.is, AltaTransferencia);
  </script>
</dom-module>
