<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuario</h2>
    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-6">Soy Bootstrap</h3>
    </div>
    <input type="first_name" placeHolder="Nombre" value="{{first_name::input}}"/>
    <input type="last_name" placeHolder="Apellido" value="{{last_name::input}}"/>
    <input type="email" placeHolder="Email" value="{{email::input}}"/>
    <input type="password" placeHolder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="register">Register</button>


    <span hidden$="{{!logged}}">Alta realizado</span>
    <iron-ajax
      id="doRegister"
      method="POST"
      url="http://localhost:3000/apitechu/v2/newuser"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          id :{
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          },
            password: {
            type: String
          },
            logged: {
            type: Boolean,
            value: false
          }
        };
      }


      register(){
        console.log("Boton register pulsado");
        var registerData = {
          "first_name": this.first_name,
          "last_name" : this.last_name,
          "email": this.email,
          "password" : this.password

        };

        this.$.doRegister.body = JSON.stringify(registerData);
        this.$.doRegister.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged= true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }


    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
