<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de movimiento</h2>
    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-6">Soy Bootstrap</h3>
    </div>
    <input type="idcuenta" placeHolder="cuenta" value="{{idcuenta::input}}"/>
    <input type= "importemov" placeHolder="importe" value="{{importemov::input}}"/>
    <input type="tipomov" placeHolder="tipo" value="{{tipomov::input}}"/>
    <button class="btn btn-success" on-click="realizar">Realizar</button>
    <!--<button class="btn btn-warning">Logout</button>-->

    <span hidden$="{{!logged}}">Movimiento realizado</span>
    <iron-ajax
      id="doMov"
      method="POST"
      url="http://localhost:3000/apitechu/v2/nuevomovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          idcuenta :{
            type: Number
          },
          importemov:{
            type: Number

          }, tipomov:{
            type: String
          },
            logged:{
            type: Boolean,
            value: false
          }
        };
      }


      realizar(){
        console.log("Boton realizar pulsado");
        var movData = {
          "idcuenta": this.idcuenta,
          "importemov": this.importemov,
          "tipomov": this.tipomov
        };

        this.$.doMov.body = movData;
        this.$.doMov.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged= true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }


    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
